server:
  port: 8082

spring:
  application:
    name: SERVICE-CAR
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-CAR
        health-check-path: /actuator/health
        health-check-interval: 10s

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/carservicedb?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
